[alias]
  co = checkout
[core]
  editor = nvim
  excludesFile = ~/.gitignore
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[merge]
  tool = vimdiff
[credential]
  helper = osxkeychain
[user]
  name = 0keita
